.signup {
    height: 650px;
    width: 650px;
    text-align: center;
    padding-top: 30px;
    margin-bottom: 30px;
    
}


.paragraph {
    text-align: justify;
    text-justify: inter-word;
    padding: 0 26px;
}


.parent {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, max-content));
    grid-gap: 275px;
    justify-content: space-around;
    padding: initial;
    margin-right: 150px;
    
 
}

.button {
   outline: none;
   border: none;
   
}